<div id="home">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><%=image_tag("painter.png", alt: "rails")%></div>
	    <div class="item"><%=image_tag("flooring.png", alt: "rails")%></div>
	    <div class="item"><%=image_tag("lawn.png", alt: "rails")%></div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>


	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 center">
    	<p><h1 class="hometext">Home Owners</h1></p>
 			<%= link_to "Create a Project! It's Free!", '#', class: "btn btn-large btn-block btn-primary" %>
    </div>
    <div class="span6 center">
    	<p><h1 class="hometext">Contractors</h1></p>
     <%= link_to "Find Work! It's Free!", '#', class: "btn btn-large btn-block btn-primary" %>
    </div>
  </div>
</div>

</div>
